@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.containerLanding {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: url('../Images/Background.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: whitesmoke
}

.containerLanding h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;

    position: absolute;
    display: flex;
    top: 35%;
    left: 10%;
    color: #652526;
    margin: 0px;
    padding: 20px;
}

.containerLanding h4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 40%;
    position: absolute;
    display: flex;
    top: 45%;
    left: 21%;
    color: #652526;
    margin: 0px;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 5px 60px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #B74142;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #BC8B79;
    position: absolute;
    display: flex;
    top: 58%;
    left: 23.5%;
  }
  
  .button:hover {
    background-color: #b55151
}
  
  .button:active {
    background-color: #b55151;
    box-shadow: 0 5px #BC8B79;
    transform: translateY(4px);
  }
