@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    background: transparent;
}

.nav img {
    position: absolute;
    width: 45px;
    top: 25px;
    margin-left: 10px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  .menu li:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu li {
    padding: 6px 14px;
    list-style: none;
  }

.app{
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  text-align: center;
  color: #fffeff;
  text-shadow:
    1px 1px 2px #a9a0aa,
    1px 1px 2px #a89fa7,
    2px 2px 3px #d6d0d0,
    2px 2px 3px #c7bfbf,
    3px 3px 2px #040203,
    3px 3px 2px #c599c5,
    4px 4px 2px #c599c5,
    4px 4px 3px #c599c5,
    4px 4px 3px #c599c5,
    4px 5px 2px #c599c5,
    5px 5px 2px #050505,
    5px 5px 2px #000000,
    5px 5px 1px #696363,
    5px 5px 1px #080808,
    5px 5px 0px #201f20,
    5px 5px 0px #757172;
  margin-left: 70px;
  font-size: 1rem;
  font-weight: bold;
}

.create{
    text-decoration: none;
    text-align: center;
    color: #fffeff;
    margin-left: 820px;
    font-size: 1rem;
    font-weight: bold;
  }